* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    background-color: #032d6b;
    font-family: Mulish,Helvetica,Arial,sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 5px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa4a0; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #585552; 
  }

  .cursor {
      cursor: pointer;
  }

  img {
    font-size: 0px;
  }